body {
  object-fit: contain;
  background-image: linear-gradient(#995a54, #995a54);
  background-blend-mode: overlay, overlay, normal;
  color: #4d4d4d;
}

article {
  width: 400px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #000
}

article h1 {
  margin-top: 0px;
	width: 360px;
	height: 66px;
	font-size: 26px;
	text-align: left;
  color: #4d4d4d;
}

.inside {
  padding: 0 21px;
  background-color: #fafafa;
  border: solid 1px #808080;
}

.read-article {
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 0.8em;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-main .header {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
  color: #808080;
}

img:hover {
  opacity: 0.5;
}