body {
  background-color: gainsboro;
}

.main-header {
  font-family: fantasy;
  font-size: 1.7rem;
  margin: 0 20px;
  width: 80%;
}

.summary-description {
  display: inline-block;
  width: 70%;
}

.summary-description h2 {
  margin: 15px 0 5px 20px;
}

.summary-description p {
  margin: 0 20px;
}

.internal-links {
  margin: 0;
}

.internal-links li {
  margin: 10px 0;
}

.internal-links a,
.internal-links a:visited {
  color: rgb(123, 123, 123);
  text-decoration: none;
}
.internal-links a:hover {
  text-decoration: underline;
}

.section-header {
  color: rgb(123, 123, 123);
  font-size: 1.2em;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 1em 0 0 1em;
}

.section-sub-header {
  text-transform: capitalize;
}

nav {
  background-color: #333333;
}

.navigation {
  margin: 10px auto;
  width: 30%;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  color: white;
  display: block;
  padding: 16px;
  /* text-align: center; */
  text-decoration: none;
}

.summary {
  padding: 20px;
}

.summary img {
  height: 300px;
  width: 200px;
}

body {
  margin: auto;
  width: 800px;
}

main {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

footer {
  padding: 10px;
}

#info li {
  text-transform: capitalize;
}

.container {
  padding: 15px;
}

.actor-short {
  display: inline-block;
  vertical-align: top;
}

.actor-bio {
  display: inline-block;
  text-align: justify;
  width: 70%;
}

#actors img {
  height: 100px;
  width: 100px;
  margin: 20px 20px 0 0;
}

#actors ul {
  padding-left: 20px;
}

section ul {
  list-style: none;
}

blockquote {
  font-style: italic;
}

#reviews li:nth-child(even) blockquote {
  color: lightslategray;
}