table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0.5em;
}

th {
  background-color: bisque;
}

td {
  background-color: lightblue;
}

.white-background {
  background-color: white;
}

.center-text {
  text-align: center;
}